html{
    box-sizing:border-box;
    font-family: sans-serif;
}
*,
*::before,
*::after{box-sizing:inherit;
}

.container {
    width: 1200px;
    margin: auto;

}
    

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    
}






#search {
    width: 800px;
    height: 40px;
    border-radius: 25px;
    background: rgb(239,239,239);
    
}




#cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    height: 0px;
    align-items: center;
    border-left: 1px solid black;
}

i {
    padding: -20;
    margin: -20;
}


.location input[type=text] {
    width: 125px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5%;
  
  }

.pricerange {
    display:flex;
}
.asideprice input[type=text] {
    width: 70px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 10px;
  
  }

button {
    padding: 10px;
    font-size: 14px;
    border: 1px black solid;
    border-radius: 10%;
}


.nav1 {
    display:flex;
    justify-content: space-between;
    line-height: 100px;
    margin-bottom: -40px;
    margin-top: -60px;
    font-size: 13px;
   
}

.nav2{
    display:flex;
    justify-content: flex-start;
    line-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}
    
.content {
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 4fr;
    grid-area: 
    "aside section"

}

.aside {
    grid-area: "aside";
    margin: 0px;
    display:flex;
    flex-direction: column;
    font-size: 13px;
 
}

.aside div {
    margin-bottom: 10px;
}
.allcat li {
    
    list-style-type: none;
  
}

.specialoffers {
    font-size: 12px;

}

input {
    margin: 5px;
}

.specialoffers label {
    margin-bottom: 10px;
}

.section {
    grid-area: "section";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-area: 
    "categories"
    "main"
}


.main {
    margin-top:-100px;
    grid-area: "main";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
  

}

.product {
    width: 200px;
    
    display: grid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .product p {
    font-size: 14px;
    
}
  */


h3 {
    margin: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;

    
}


.desc p {
    margin: 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product img {
        width: 100%;
    }

.nav1 li {
    text-decoration: none;
    display: block;
    
}

.nav2 li {
    text-decoration: none;
    display: block;
    padding-right: 15px;
    background-color: rgb(238,163, 126);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 5px;
    line-height: 40px;
    padding: 0px 15px;
    white-space: nowrap;
    border-radius: 25px;

}

































/* 
.container {
    width: 1200px;
    margin: auto;
   
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
  
    

}

aside {
    height: 100px;
 
  
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  
}

.product {
    cursor: pointer;
}

.product img {
    width: 10-0%;
}

.product h3 {
    margin:0;
    width: 300px;

}

.product p {
    margin:0;
}

.desc {
    display: flex;
    justify-content: space-between;
}

 */













